# SPDX-FileCopyrightText: 2025 Chen Linxuan <me@black-desk.cn>
#
# SPDX-License-Identifier: MIT

[submodule ".format"]
	path = .format
	url = https://github.com/black-desk/.format
[submodule "third_party/librime-rs"]
	path = third_party/librime-rs
	url = https://github.com/black-desk/librime-rs
	branch = master
[submodule "third_party/librime"]
	path = third_party/librime
	url = https://github.com/rime/librime.git
[submodule "third_party/plum"]
	path = third_party/plum
	url = https://github.com/rime/plum.git
[submodule "third_party/librime-sys"]
	path = third_party/librime-sys
	url = https://github.com/lotem/librime-sys.git
