# SPDX-FileCopyrightText: 2025 Chen Linxuan <me@black-desk.cn>
#
# SPDX-License-Identifier: MIT

[submodule ".format"]
	path = .format
	url = https://github.com/black-desk/.format
[submodule "third_party/librime"]
	path = third_party/librime
	url = https://github.com/rime/librime.git
